<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="author"
      content="Rajkishor Kushwaha" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Google</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://i.imgur.com/ijvd2TK.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet" />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />
    <link
      rel="stylesheet"
      href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <div id="main">
      <div class="flex flex-col items-center justify-center min-h-screen">
        <div class="flex-container">
          <!-- Main Content -->
          <div class="main-cont flex flex-col items-center justify-center">
            <img
              id="google-logo"
              width="300px"
              src="https://i.imgur.com/czvj9ll.png"
              alt="" />
            <form
              action="https://www.google.com/search"
              method="GET"
              target="_blank">
              <div class="vp">
                <input
                  type="text"
                  name="q"
                  class="search-bar"
                  placeholder="Search Google" />
                <button
                  type="submit"
                  class="search-button">
                  Search
                </button>
              </div>
            </form>

            <!-- Service Buttons -->
            <div class="i-cont flex flex-wrap justify-center gap-4">
              <a
                title="Youtube"
                href="https://www.youtube.com"
                target="_blank"
                ><img
                  width="60px"
                  class="web-icon"
                  src="https://static.vecteezy.com/system/resources/thumbnails/023/986/480/small_2x/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png"
                  alt=""
              /></a>

              <a
                title="Spotify"
                href="https://open.spotify.com"
                target="_blank"
                ><img
                  width="60px"
                  class="web-icon"
                  src="https://www.freepnglogos.com/uploads/spotify-logo-png/spotify-logo-transparent-spotify-logo-images-25.png"
                  alt=""
              /></a>

              <a
                title="Instagram"
                href="https://instagram.com"
                target="_blank"
                ><img
                  width="60px"
                  class="web-icon"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"
                  alt=""
              /></a>

              <a
                title="Google"
                href="https://google.com"
                target="_blank"
                ><img
                  width="60px"
                  class="web-icon"
                  src="https://i.imgur.com/uP5Su7c.png"
                  alt=""
              /></a>

              <a
                title="G-mail"
                href="https://mail.google.com"
                target="_blank"
                ><img
                  width="60px"
                  class="web-icon"
                  src="https://i.imgur.com/ndVIp3y.png"
                  alt=""
              /></a>

              <a
                title="Chat-GPT"
                href="https://chat.openai.com"
                target="_blank"
                ><img
                  width="60px"
                  class="web-icon"
                  src="https://i.imgur.com/uA9LOmZ.png"
                  alt=""
              /></a>

              <a
                title="Amazon"
                href="https://amazon.com"
                target="_blank"
                ><img
                  width="60px"
                  class="web-icon"
                  src="https://i.imgur.com/bFRFY84.png"
                  alt=""
              /></a>
            </div>
          </div>
          <div class="center">
            <div class="side-cont sidebar">
              <iframe
                style="border-radius: 12px"
                src="https://open.spotify.com/embed/playlist/5zfMw25FcqAA6Fg1Ct104B?utm_source=generator&theme=0"
                width="100%"
                height="552"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
            </div>
          </div>
        </div>
        <span id="credit">
          Created by -
          <a
            id="codepen-credit"
            href="https://www.linkedin.com/in/prince-bhatt-0958a725a/"
            target="_blank"
            >Prince Bhatt</a
          ></span
        >
      </div>
    </div>
  </body>
</html>
